.btn-primary {
  color: #000000;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-shadow: 3px 3px #000000;
  box-shadow: 3px 3px #000000;
  border-radius: 0;
  font-size: 1.2rem;
  margin: 2px; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #000000;
    background: #f9f9f9;
    border: 1px solid #000000;
    -webkit-box-shadow: 1px 1px #000000;
    box-shadow: 1px 1px #000000; }
