extends /master.pug
block content
    
    section
        .container
            .row
                .col-md-12
                    .udl-big-title
                        span BOOSTRAP COMPONENTS
                    h5.s-font ▹ Buttons
                    hr.light-br
                    .row
                        .col-lg-3.col-md-4.pull-lg-9.pull-md-8
                            //- SIDEBAR
                            include ../bootstrap-components/sidebar.pug
                        .col-lg-9.col-md-8.push-lg-3.push-md-4
                            h1 This are all bootstrap 4 components