extends /master.pug
block content
	- var currentUrl = 'breadcrums.html'
	section
		.container
			.row
				.col-md-12
					.row
						.col-lg-3.col-md-4.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../bootstrap-components/sidebar.pug
						.col-lg-9.col-md-8.push-lg-3.push-md-4.theme-docs-wrapper
							h1 Bootstrap 4 components
							hr
							// Alerts
							a#Badges.anchor
							h3 Breadcrums
							p.sub-title
								a(href="https://getbootstrap.com/docs/4.1/components/breadcrumb/" target="_blank") Go to official documentation
							p.sub-title Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.
							.panel
								.panel-body

								nav(aria-label='breadcrumb')
									ol.breadcrumb
										li.breadcrumb-item.active(aria-current='page') Home
								nav(aria-label='breadcrumb')
									ol.breadcrumb
										li.breadcrumb-item
											a(href='#') Home
										li.breadcrumb-item.active(aria-current='page') Library
								nav(aria-label='breadcrumb')
									ol.breadcrumb
										li.breadcrumb-item
											a(href='#') Home
										li.breadcrumb-item
											a(href='#') Library
										li.breadcrumb-item.active(aria-current='page') Data